@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h2 class="display-4">Realizado por:</h2>
        <h1 class="display-4">Wilder Valencia Ocampo ID000375627</h1>
    </div>
